glm
/OpenGL ES 2/Framework/Utilities/Debug
/OpenGL ES 2/Framework/TrainingFramework/Debug
/OpenGL ES 2/Framework/Debug
/OpenGL ES 2/Framework/ipch
/OpenGL ES 2/Framework/BIN
/OpenGL ES 2/Framework/.vs/TrainingFramework/v14/*.suo
/.vs